/* laptop*/
@media all and (max-width: 1024px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  p {
    font-size: 14px;
  }
  .star {
    font-size: 200%;
  }
}

/* tablet*/
@media all and (max-width: 768px) {
  .about {
    width: 100%;
    margin-bottom: 50px;
  }

  footer {
    text-align: center;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 50%;
  }
}

/* small-tablet*/
@media all and (max-width: 600px) {
  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
  }
  .menu-nav {
    display: none;
  }
}

/* mobile*/
@media all and (max-width: 425px) {
  .lesson {
    width: 100%;
  }
  p {
   font-size: 12px;
  }
  .icon {
    font-size: 15px;
  }
  .text-contents {
    font-size: 12px;
  }



   .heading h3 {
     font-size: 15px;
   }
   .faq h3 {
     font-size: 14px;
   }

  .top-wrapper {
    text-align: left;
  }



  #faq-list {
    width: 100%;
  }
  .company {
    width: 100%;
  }
}

@media all and (max-width: 375px) {
  .right {
    width: 100%;
  }
}
