* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 200px;

}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: black;
  display: block;
  float: left;
  transition: all 0.5s;
}

.top-wrapper {
  margin: 0 auto;
  background-image: url(https://raw.githubusercontent.com/PoPoLabo/prog/master/bg_top4.png);
  background-repeat: no-repeat;
  top: 65px;
}
.top-wrapper h2 {
  color: #5f5d60;
  text-align: right;
  padding: 200px 0 200px ;
  top: 0px;
  margin: 0;
}

.fa {
  margin-right: 5px;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 1);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.heading {
  padding-top: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
  text-decoration: underline;
}

.About-wrapper {
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
}
.about {
  width: 50%;
  float: left;
  padding: 20px;
  color: #5f5d60;
}
.stripe{
  font-weight: bold;
  position: relative;
  padding: 0.3em;
}
.stripe:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10%;
  height: 7px;
  background: repeating-linear-gradient(-45deg, #eee, #eee 2px, white 2px, white 4px);
}



.Career-wrapper {
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

.lesson {
  float: left;
  width: 25%;
  margin-top: 20px;
}

.company {
  width: 80%;
  padding: 10px;
  text-align: center;
}
.ha {
  border: double 5px #ffd700;
}
.ku {
  border: double 5px #008000;
}
.pp {
  border: double 5px #dc143c;
}
.qu {
  border: double 5px #0000cd;
}

.icon {
  color: #5f5d60;
  text-align: center;
}


.text-contents {
  width: 80%;
  display: inline-block;
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 13px;
  color: #b3aeb5;
  display: none;
}

.text-active {
  display: block;
}

.faq {
  margin-top: 50px;
}
#faq-list {
  width: 70%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.faq-list-item {
  margin:10px;
  border-bottom:1px solid #ccc;
  position:relative;
  cursor:pointer;
  text-align: left;
}

.faq-list-item h3 {
  font-size: 14px;
}

.faq-list-item span {
  position:absolute;
  top:0;
  right:5px;
  color:#ccc;
  font-size:13px;
}

.answer {
  font-size: 12px;
  display: none;
  padding: 5px 0px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.question {
  font-weight: normal;
  text-align: left;
  color: #5f5d60;
}
h3 {
  font-weight: normal;
  text-align: center;
  color: #5f5d60;
}
.Skill-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
}
.skill {
  float: left;
  padding: 20px;
  color: #5f5d60;
}
.star {
  color: gold;
  font-size: 30px;
  margin: 0px;
}
.skill img {
  padding: 10px;
}
.left {
  width: 50%;
}
.right {
  width: 25%;
}

.Future-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
}


.to-top {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 15px;
  bottom: 15px;
  color: #000;
  background: #c0c0c0;
  padding: 10px 15px;
  opacity: 0.5;
  cursor: pointer;
}

.to-top:hover {
  opacity: 1;
}



footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 20px;
  padding-bottom: 10px;
}
